node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env.local
.env.*.local
.DS_Store
*.log
.vscode
.idea
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*
docker-compose.yml
Dockerfile*
.dockerignore
nginx-playground.conf
scripts
docs